
.grid{
  display: grid;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}
.gap-4{
  gap: 4px;
}
.gap-8{
  gap: 8px;
}
.gap-12{
  gap: 12px;
}

.gap-16{
  gap: 16px;
}
.gap-20{
  gap: 20px;
}

.inline-block{
  display: inline-block;
}
.justify-center{
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}

.max-width-560{
  max-width: 560px;
}

.mx-auto{
  margin:0 auto;
}
.space-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: end;
}