.py-4{
  padding-inline: 4px;
}
.py-12{
  padding-inline: 12px;
}

.px-20{
  padding-inline: 20px;
}
.py-20{
  padding-block: 20px;
}
.pt-40{
  padding-top: 40px;
}

.pt-48{
  padding-top: 48px;
}
.pb-48{
  padding-bottom: 48px;
}

.pt-80{
  padding-top: 80px;
}

.pb-80{
  padding-bottom: 80px;
}
